$common-white: #fff;
$background-default: #1f1f1f;
$background-paper: #292929;
$primary-main: #ffe600;
$primary-dark: #c8b400;
$primary-light: #fff066;
$primary-hover: rgba(255, 230, 0, 0.2);
$primary-contrastText: rgba(0, 0, 0, 0.87);
$error-main: #c62828;
$error-dark: #8a1c1c;
$error-light: #d15353;
$error-contrastText: #fff;
$text-primary: #faf8f1;
$text-secondary: rgba(255, 255, 255, 0.7);
$action-focus: rgba(255, 255, 255, 0.12);
$action-hover: rgba(255, 255, 255, 0.08);
$divider: rgba(255, 255, 255, 0.12);
